<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="app.component.css" />

    <title><%= heading %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand">𝘽𝙤𝙤𝙠 𝙎𝙩𝙤𝙧𝙚 </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-book">Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/books-list">Show Books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/add-event">Add Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/event-list">Event List</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Book Store Using MEAN Stack</h1>
        <p class="lead"></p>
      </div>
    </div>

    <router-outlet></router-outlet>
  </body>
</html>
