.container {
  margin-top: 20px;
}

.h2 {
  color: #333;
  margin-left: 15px;
}

.table {
  margin-top: 20px;
}

.form-control {
  width: 100%;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
